<%- include('includes/head.ejs') %>    
<%- include('includes/navbar.ejs') %>
<div class="container">
    <form method="POST" action="/admin/teachers/">
        <div class="form-group">
        <label for="name">Teacher Name</label>
        <input type="text" name="name" class="form-control" id="name" aria-describedby="name" placeholder="Enter Teacher Name">
        </div>
        <div class="form-group">
            <label for="branch">Branch</label>
            <select id="branch" name="branch" class="form-control">
                <option>select</option>
                <% branches.forEach((branch)=>{ %>
                    <option><%= branch.name %></option>
                <% }) %>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<%- include('includes/footer.ejs') %>  