<%- include('includes/head.ejs') %>    
<%- include('includes/navbar.ejs') %>

<div class="container" >
    <div class="card card-dashborad" style="width: 18rem;">
        <img class="card-img-top" src="https://www.thecompleteuniversityguide.co.uk/media/4885491/banner_image.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">COURSE</h5>
          <p class="card-text">Add, delete ,couses or edit .</p>
          <a href="/admin/courses" class="btn btn-primary">Courses</a>
        </div>
      </div>
      <div class="card card-dashborad" style="width: 18rem;">
        <img class="card-img-top" src="https://www.timeshighereducation.com/sites/default/files/styles/the_breaking_news_image_style/public/heads_and_lightbulbs_illustration.jpg?itok=I8EO9Lrw" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Teacher</h5>
          <p class="card-text">Add, delete ,couses or edit .</p>
          <a href="/admin/courses" class="btn btn-primary">Teacher</a>
        </div>
      </div>
      <div class="card card-dashborad" style="width: 18rem;">
        <img class="card-img-top" src="https://cdn3.vectorstock.com/i/1000x1000/24/67/funny-students-cartoon-learning-vector-11142467.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Students</h5>
          <p class="card-text">Add, delete ,couses or edit .</p>
          <a href="/admin/courses" class="btn btn-primary">Students</a>
        </div>
      </div>
      <div class="card card-dashborad" style="width: 18rem;">
        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT8wTzJsi2u2cxH98eHaMX64zTsZbGPXPlg4MtdUNU6A5PJfwG8&usqp=CAU" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Branches</h5>
          <p class="card-text">Add, delete ,couses or edit .</p>
          <a href="/admin/courses" class="btn btn-primary">Branches</a>
        </div>
      </div>
</div>

<%- include('includes/footer.ejs') %>  