<%- include('includes/head.ejs') %>    
<%- include('includes/navbar.ejs') %>

<div class="login-page">
    <div class="container-form">
    <div class="form">
        <h2>Teacher</h2>
      <form class="login-form" method="post" action="/login/teacher" name="loggin_student">
        <input type="text" placeholder="NITJSR Email" name="username"/>
        <input type="password" placeholder="password" name="password"/>
        <button>login</button>
      </form>
      
    </div>
    </div>
  </div>

<%- include('includes/footer.ejs') %>  